html,body,page{
    height: 100%;
    width: 100%;
    margin: 0;
}
page{
    height: 100%;
    font-size: 160px;
    position: absolute;
    text-align: center;
    padding-top: 40%;
}
#c{
    background-image: url("../images/dt02.jpeg");
    background-size: 100% 100%;
    animation: c 13s infinite;
}
#x{
    background-image: url("../images/dt01.jpeg");
    background-size: 100% 100%;
    animation: x 13s infinite;
}
#q{
    background-image: url("../images/dt03.jpeg");
    background-size: 100% 100%;
    animation: q 13s infinite;

}
#d{
    background-image: url("../images/dt04.jpeg");
    background-size: 100% 100%;
    animation: d 13s infinite;
}
#z{
    font-size: 36px;
    display: block;
    animation: z 13s infinite;
}
@keyframes z {
    0% {opacity: 0}
    70% {opacity: 0}
    85% {opacity: 100}
    90% {opacity: 0}
    100% {opacity: 0}
}
@keyframes c {
    0% {opacity: 0}
    20% {opacity: 100}
    40% {opacity: 0}
    100% {opacity: 0}
}
@keyframes x {
    0% {opacity: 0}
    20% {opacity: 0}
    40% {opacity: 100}
    60% {opacity: 0}
    100% {opacity: 0}
}
@keyframes q {
    0% {opacity: 0}
    40% {opacity: 0}
    60% {opacity: 100}
    80% {opacity: 0}
    100% {opacity: 0}
}
@keyframes d {
    0% {opacity: 0}
    60% {opacity: 0}
    80% {opacity: 100}
    100% {opacity: 0}
}